body {
  margin: 0 !important;
  background: #D7D7E1 !important;
}

.ui.card {
  border-radius: 0; width: 100%; background: #D7D7E1; box-shadow: none
}

@media screen and (min-width: 845px) {
  #output_map_ui-map {
    height: calc(100vh) !important;
  }
}